body {
  padding: 0;
  margin: 0;
}

#mapid,
body,
html {
  height: 100%;
  /* color: #ee4e4e */
}

.legend {
  line-height: 18px;
  color: #001219;
  background-color: #ebebeb;
  padding: 5px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
  color: "white";
}